@import url(./bootstrap.min.css);
@import url(./leaflet.css);
@import url(./leaflet-geosearch.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, #map {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  overflow: hidden;
  background: #f6f6f6; }

label {
  color: #7D7D7D; }

.strong {
  font-weight: 700; }

.page-holder {
  height: 100%;
  margin-top: 50px;
  padding: 0; }

.container--pages {
  height: calc(100% - 50px); }

.height--100 {
  height: 100%; }

.address--display_name {
  display: none; }

.section--button_container {
  background-color: #FFFFFF;
  border-top: 1px solid #ececec;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 85px; }
  .section--button_container .progress {
    height: 5px;
    border-radius: 0;
    background-color: #FFFFFF;
    margin-bottom: 15px; }
  .section--button_container .btn {
    text-transform: uppercase; }

.btn {
  height: 50px;
  padding: 13px; }
  .btn span {
    padding: 0 10px; }
  .btn.btn-success {
    background-color: #23D25B;
    border: none;
    box-shadow: 0 2px 2px rgba(35, 210, 91, 0.22); }
  .btn.btn--fixed {
    position: absolute;
    z-index: 1000;
    right: 5vw;
    left: 5vw;
    margin: 0 auto;
    width: 90vw;
    text-transform: uppercase; }
  .btn.btn--bottom_150 {
    bottom: 35px !important; }
  .btn.btn--left {
    float: right; }
  .btn.btn--right {
    float: left; }

.form-control {
  font-size: 15px;
  min-height: 50px;
  border: 1px solid #e8e8e8; }
  .form-control:-ms-input-placeholder {
    font-size: 15px;
    color: #7D7D7D;
    opacity: 0.64; }
  .form-control::placeholder {
    font-size: 15px;
    color: #7D7D7D;
    opacity: 0.64; }
  .form-control::-webkit-input-placeholder {
    font-size: 15px; }
  .form-control:-ms-input-placeholder {
    font-size: 15px;
    color: #7D7D7D;
    opacity: 0.64; }
  .form-control::-ms-input-placeholder {
    font-size: 15px;
    color: #7D7D7D;
    opacity: 0.64; }

.radio--group {
  display: table;
  width: 100%; }
  .radio--group label {
    width: 50%;
    height: 50px;
    float: right;
    line-height: 50px;
    padding: 0 12px 0 0;
    margin: 0;
    color: #707070;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8; }
    .radio--group label.active {
      color: #FFFFFF;
      background-color: #23D25B; }
    .radio--group label:first-child {
      border-radius: 0 5px 5px 0;
      border-left-width: 0; }
    .radio--group label:last-child {
      border-radius: 5px 0 0 5px; }
    .radio--group label input {
      display: none; }

.input--group {
  width: 100%;
  display: table; }
  .input--group input {
    width: 50%;
    float: right; }
    .input--group input:first-child {
      border-radius: 0 5px 5px 0;
      border-left-width: 0; }
    .input--group input:last-child {
      border-radius: 5px 0 0 5px; }

.intro--text {
  color: #7D7D7D;
  text-align: center;
  line-height: 20px; }
  .intro--text strong {
    display: block; }

#leaflet_map {
  height: 100%;
  width: 100%; }
  #leaflet_map .leaflet-control-geosearch.bar {
    position: absolute;
    bottom: 100px;
    width: 90vw;
    right: 4%; }
    #leaflet_map .leaflet-control-geosearch.bar input {
      height: 50px;
      padding: 0 28px;
      border: 1px solid #c6c6c6;
      border-radius: 5px;
      background: url(../images/marker-icon__grey.png) no-repeat scroll 15px 17px;
      z-index: 20;
      position: relative; }
      #leaflet_map .leaflet-control-geosearch.bar input:-ms-input-placeholder {
        color: #7D7D7D;
        opacity: 0.64; }
      #leaflet_map .leaflet-control-geosearch.bar input::placeholder {
        color: #7D7D7D;
        opacity: 0.64; }
      #leaflet_map .leaflet-control-geosearch.bar input:-ms-input-placeholder {
        color: #7D7D7D;
        opacity: 0.64; }
      #leaflet_map .leaflet-control-geosearch.bar input::-ms-input-placeholder {
        color: #7D7D7D;
        opacity: 0.64; }
    #leaflet_map .leaflet-control-geosearch.bar form {
      padding: 0;
      border: none; }
    #leaflet_map .leaflet-control-geosearch.bar a.reset {
      border-radius: 5px 0 0 5px;
      padding: 10px; }
    #leaflet_map .leaflet-control-geosearch.bar .results {
      position: absolute;
      border-radius: 5px 5px 0 0;
      max-height: 100px;
      overflow-y: scroll;
      right: 0;
      left: 0;
      bottom: 47px;
      z-index: 30; }
      #leaflet_map .leaflet-control-geosearch.bar .results.active {
        border-width: 1px 1px 0 1px;
        border-color: #c6c6c6;
        border-style: solid; }
      #leaflet_map .leaflet-control-geosearch.bar .results > div {
        padding: 0 15px; }

.upload-preview {
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #efefef;
  padding: 10px;
  text-align: center;
  border-radius: 5px; }
  .upload-preview .upload-preview_container {
    width: auto;
    display: inline-block;
    border-radius: 5px;
    height: 120px;
    max-width: 150px;
    margin: 0 auto; }
    .upload-preview .upload-preview_container img {
      max-width: 100%;
      max-height: 100%; }
  .upload-preview .reset--upload {
    display: block;
    margin-top: 5px;
    text-decoration: underline; }

.upload-btn-wrapper {
  position: relative; }
  .upload-btn-wrapper .btn {
    overflow: hidden;
    border: 1px solid #e8e8e8;
    color: #ababab;
    background-color: white;
    padding: 20px 0 80px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    font-weight: 400; }
    .upload-btn-wrapper .btn .upload-icon {
      font-size: 25px;
      margin-bottom: 10px;
      display: block; }
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    right: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0; }

.date-select-wrapper {
  display: none; }

header {
  display: block;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  position: relative;
  z-index: 999;
  background: #fff; }
  header .logo-wrapper {
    display: block;
    height: 100%;
    width: 200px;
    background: url(../images/cropped-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    header .logo-wrapper a {
      display: block;
      position: relative;
      height: 100%;
      width: 100%; }

.section--page {
  display: none;
  height: 100%;
  overflow-y: scroll; }
  .section--page.active {
    display: block; }

.section--thanks {
  text-align: center; }
  .section--thanks .thanks--well {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    top: calc(50% - 30px);
    right: 0;
    left: 0;
    padding: 0 30px; }
  .section--thanks strong {
    line-height: 30px;
    font-size: 30px;
    display: block;
    margin-bottom: 10px; }
  .section--thanks p {
    color: #7D7D7D;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px; }

form {
  height: 100%; }
  form .section--page {
    padding-top: 20px; }
  form.ajax--form_wrapper {
    padding-bottom: 85px; }

.overlay--loading {
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .overlay--loading strong {
    position: absolute;
    margin: 0 auto;
    color: #eaeaea;
    display: block;
    text-align: center;
    top: calc(50% - 100px);
    line-height: 50px;
    font-size: 30px;
    padding: 0 30px; }

.form-group--centered {
  text-align: center; }
  .form-group--centered label small {
    display: block; }
  .form-group--centered input[type=text].form-control, .form-group--centered input[type=email].form-control {
    text-align: center; }

.leaflet-top.leaflet-left {
  display: none !important; }

.header--navigation {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0; }

.navbar-light .navbar-toggler {
  border: none; }

.section-map {
  position: relative;
  top: -50px; }
  .section-map #leaflet_map {
    height: 100vh;
    width: 100%; }
    .section-map #leaflet_map .leaflet-control-geosearch.bar {
      position: absolute;
      bottom: 200px;
      width: 90vw;
      right: 4%; }
      .section-map #leaflet_map .leaflet-control-geosearch.bar input {
        height: 50px; }
      .section-map #leaflet_map .leaflet-control-geosearch.bar a.reset {
        margin-top: 10px; }

form #step-1-holder {
  display: block; }
  form #step-1-holder #make-report-wrapper input {
    height: 50px;
    background: lightgreen;
    border: none;
    outline: none;
    width: 90vw;
    border-radius: 5px;
    color: #fff; }

form #step-2-holder {
  display: none;
  width: 90vw; }
  form #step-2-holder #step-back {
    color: gray;
    text-decoration: none;
    padding-bottom: 10px; }
    form #step-2-holder #step-back:before {
      content: "\f104";
      font-family: 'Font Awesome\ 5 Free'; }
  form #step-2-holder .green-button {
    height: 50px;
    background: lightgreen;
    border: none;
    outline: none;
    width: 90vw;
    border-radius: 5px;
    color: #fff; }
